#navbar {
  background: black;
  font-size: 50px;
  color: white;
  z-index: 100;
}

.navbar-brand {
  font-size: 100px;
}

.logo-container {
  background-color: black;
  padding: 300px;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.container {
  background-color: red;
}

.collapse navbar-collapse {
  list-style: none;
  position: relative;
  float: left;
}
