#navbar {
  background: transparent;
  font-size: 25px;
  z-index: 100;
  justify-content: right;
}

.navbar-brand {
  font-size: 100px;
}

.logo-container {
  background-color: black;
  padding: 275px;
}

#logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.container {
  background-color: ;
}

.nav-link {
  list-style: none;
  position: relative;
  float: left;
  color: white !important;
}

.dropdown-toggle::after {
  display: none;
}

body {
  background-color: black !important;
  font-family: "Montserrat", sans-serif;
}

.card-image-top {
  width: 400px;
  height: 500px;
  object-fit: scale-down;
}

img {
  height: 350px;
  width: 300px;
}
.p {
  background-color: black;
}

.card {
  border: hidden !important ;
  margin: 20px;
}

.card-body {
  color: white;
  background-color: black;
  border: 0;
  border-color: 0;
  opacity: 1;
}
/*.container:hover {
  filter: blur(3px);
  opacity: 0.5;
  transform: scaled(0.98);
  box-shadow: none;
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0, 125);
}*/
h1 {
  text-align: center;
}

.container {
  color: white;
}

.container-about {
  text-align: center;
  color: white;
  margin-right: 400px;
  margin-left: 400px;

  border: white;
}

.container-end {
  text-align: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: ;
}

.navbar-toggler,
.navbar sticky-top navbar-light {
  justify-content: right;
  color: white !important;
  background-color: white;
  font-size: 100px;
}

i {
  color: white;
  font-size: 45px;
}

#contact h1 {
  text-align: center;
}

col {
  text-align: center;
}
